<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {block metadata}
    <title>{$title}</title>
    <meta name="description" content="{$metadesc}" />
    <link rel="canonical" href="{$canonical}" />
    {/block}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <link rel="stylesheet" href="/assets/pub/css/style.css">

</head>

<body>

    <div class="container">
        
        <header>{include menuBuilder from 'menu.latte'}</header>

        {block messages /}

        {block mainTitle}
        <h1>{$title}</h1>
        {/block}

        {block main /}

        <footer class="row">
            {block footer}
            <p>This is the footer</p>
            {/block}
        </footer>

    </div>

</body>

</html>